header
{
	background-color: rgb(83, 5, 139);
}

div .mdl-card-wide
{
	width: 90%;
}

div .mdl-card
{
	width: 90%;
}

a
{
	text-decoration: none;
	color: black;
}

#profile-image
{
	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
	margin-left: 10%;
}
