header
{
	background-color: rgb(83, 5, 139);
}

div .mdl-card-wide
{
	width: 90%;
}

div .mdl-card
{
	width: 90%;
}

a
{
	text-decoration: none;
	color: black;
}

#profile-image
{
	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
}

body{
    
}
.demo-card-wide.mdl-card {
  width: 512px;
  
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#register_form{
 margin-top:5%;  
    margin-left:39%;
}
